@model SchoolProject2.Models.Teacher
@{
    ViewBag.Title = "Teacher profile";
}

<nav id="nav-profile">
    <a href="/Teacher/List">Back To Teachers</a>
    <a id="link-delete-teacher">Delete</a>
    <a href="/Teacher/Update/@Model.id">update</a>
    <a href="/Teacher/Ajax_Update/@Model.id">update (ajax)</a>
    <a href="/Teacher/AddTeacherClass/@Model.id"> assigned class(es) to the teacher</a>


</nav>
<form id="profile">
    <h2>Profile</h2>
    <input type="hidden" id="teacherid"  value=@Model.id>

    <div>
        <label for="fname">Fisrtname:</label> <span id="fname">@Model.firstname </span>
    </div>
    <div>
        <label for="lname">Lastname:</label> <span id="lname">@Model.lastname</span>
    </div>
    <div>
        <label for="employeeNb">Employee number:</label>  <span id="employeeNb">@Model.employeeNumber </span>
    </div>
    <div>
        <label for="hireDate">Hire date:</label> <span id="hireDate"> @Model.hireDate </span>
    </div>
    <div>
        <label for="salary">Salary:</label> <span id="salary">@Model.salary</span>
    </div>
    <div>
        <label for="classes">Course(s):</label>
        <ul id="teacher-courses">
            @foreach (var course in Model.classes)
            {
                <li>@course.className</li>
            }
        </ul>
    </div>

</form>

